.shop .shop-wares {
  width: 1000px;
  padding: 0;
  margin-top: 10px;
}
.shop .shop-wares .wares-category-text {
  border: 1px solid #ddd;
  border-bottom: none;
  padding: 10px 15px;
}
.shop .shop-wares .wares-category-text > span {
  font-size: 16px;
  border-left: 5px red solid;
  padding-left: 5px;
}
.shop .shop-wares ul {
  list-style-type: square;
}
.shop .shop-wares ul li {
  list-style: square;
  display: list-item;
  list-style-position: inside;
  border-radius: 0px;
}
