.shop-detail {
	width: 1000px;
	margin: 0 auto;
	.detail-text {
		padding: 15px 0;
		font-weight: bold;
	}
	.detail-info {
		.info-order {
			float: left;
			width: 100%;
			.info-order-field {
				color: #ffffff;
				padding:20px;
				margin-left: 420px;

				// padding-left: 20px;
				background: -webkit-linear-gradient(top,#84CCC0,#419A83);
				background: -moz-linear-gradient(top, #84CCC0,#419A83);
				.row {
					div {
						padding: 20px;
						
					}
					.field-price
					{
						font-size: 24px;
					}
				}
			}
			.info-order-content {
				padding:20px;

				margin-left: 420px;
				.row {
					div {
						padding: 20px;
					}
					.col-md-2 {
						color: #98999a;
					}
					.col-md-6 {
						border-top: 1px dashed #ddd;
						border-bottom: 1px dashed #ddd;
						padding: 0;
						p {
							margin: 20px 20px 20px 0px;
							padding-left: 20px;
							// border-left: 1px solid #ddd;
							text-align: center;
						}
					}
					.col-md-6  +.col-md-6 {
						p {
							// margin: 20px 0 20px 20px;
							// padding-right: 20px;
							border-left: 1px solid #ddd;
							// text-align: center;
						}
					}
					.content-price
					{
						color: red;
						font-size: 24px;
					}
				}
			}
		}
		.info-image {
			width: 420px;
			height: 420px;
		}
	}
}
